:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --dkClr:#181818;
  --liClr:whitesmoke;
  --accClr:#0D0D35;

}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html,body{
  height:100%;
}


